@import 'variables';
// @import '~slick-carousel/slick/slick.css';
// @import '~slick-carousel/slick/slick-theme.css';

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #eeeeee;
}

html {
    /* font-size: 62.5%; */
}

.my-header {
    background-color: $main-color;
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.itemNavMenu {
    display: inline-block;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.itemNavMenu+.itemNavMenu {
    margin-left: 12px;
}

.form-control:focus {
    border-color: red;
    /* Thay đổi màu viền khi trường input được chọn */
    box-shadow: none;
    /* Loại bỏ hiệu ứng bóng đổ (shadow) khi trường input được chọn */
}

.cardHover {
    box-shadow: none;
    transition: .25s;
    cursor: pointer;
}

.cardHover:hover {
    border: 0px solid transparent;
    /* Ví dụ: viền đỏ */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Ví dụ: viền đỏ */
}

.btn {
    box-shadow: none;
}

.non-bg {
    background-color: transparent !important;
    box-shadow: none;
    color: #fff;
}

.textColorRed {
    color: $error-color;
}

.box-shadowColor {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bg-gradient-blue-purple {
    background: linear-gradient(to right, #0000FF, #800080) !important;
    color: #fff !important;
}

.bg-gradient-orange-red {
    background: linear-gradient(to right, $main-color, $error-color) !important;
    color: #fff !important;
}

.bg-gradient-orange-red-bottom {
    background: linear-gradient(to bottom, $main-color, $error-color) !important;
    color: #fff !important;
}

.bg-gradient-green-orange {
    background: linear-gradient(to right, #54fe95, $main-color) !important;
    color: #fff !important;
}

.btn-buy {
    background-color: #ff4500;
}

.hover-item {
    transition: .2s;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
}

.nameListTitle {
    // text-align: center;
    transition: .25s;
    padding: 4px !important;
    font-size: 16px;
    cursor: pointer;
}

.nameListTitle:hover {
    background-color: $primary-color;
    color: $white-color;
}

.logout.nameListTitle:hover {
    background-color: $error-color;
    color: $white-color;
}

.card-cate-home {
    box-shadow: none;
    transition: .25s;
    cursor: pointer;
}

.card-cate-home {
    &:hover {
        background-color: rgb(220, 204, 204);
    }
}

.fixed-bottom.show {
    transform: translateY(0);
    /* Khi modal được hiển thị, nó sẽ di chuyển lên màn hình */
}

.name-filter {
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.name-filter+.name-filter {
    margin-left: 10px;
}

// ghi de ant
.ant-table-cell {
    text-align: center !important;
}

.custom-bg-header {
    background-color: $primary-color;
}

.ant-select-selection-overflow-item .ant-select-selection-item {
    background-color: $warning-color !important;
}

// }

// gi de rsuite
.rs-dropdown-item.rs-dropdown-item-active {
    background-color: #dfdddd !important;
}

.rs-dropdown-toggle.rs-sidenav-item {
    background-color: $secondary-color !important;
}

.bg-white {
    background-color: $white-color;
}

.bg-main {
    background-color: $main-color;
}

.bg-error {
    transition: .25s;
    background-color: $error-color;
}

.bg-grey {
    background-color: $secondary-color;
}

.bg-hover-red {
    &:hover {
        background-color: $error-color;
    }
}

.color-hover-green {
    transition: .25s;

    &:hover {
        color: $success-color !important;
    }
}

.bg-hover-green {
    transition: .25s;

    &:hover {
        background-color: $success-color !important;
    }
}


.bg-gradient {
    background: linear-gradient(to right, #0000FF, #800080) !important;
    color: #fff !important;
}

.btn-create {
    background-color: $white-color;
    color: #000;
}

.name-tab-nav {
    font-weight: bold;
    transition: .25s;
    padding: 8px 12px;
    border-radius: 8px;

    &:hover {
        color: black;
        background-color: #ccc;
    }
}

.active-tab {
    color: red !important; // Sử dụng màu đỏ cho tab khi nó được kích hoạt
}

.fixed-bottom {
    transform: translateY(100%);
    /* Mặc định, modal sẽ nằm dưới màn hình */
    transition: transform 0.3s ease-in-out;
    /* Hiệu ứng transition kéo dài 0.5s */
}

.titleMyCartContent {
    font-size: 32px;
    font-weight: bold;
    opacity: 0.8;
}

.name-cate {
    position: relative;
    color: #000;
    transition: color 0.2s;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px;
    margin-top: 20px;

    &:hover {
        color: red !important;
        cursor: pointer;
    }
}

.name-cate::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #000;
}

.name-filter {
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.name-filter+.name-filter {
    margin-left: 10px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 24px;
}

// tat css tiny
.tox-statusbar__branding {
    display: none;
}

.tox-statusbar__path {
    display: none !important;
}

.tox-notification.tox-notification--in.tox-notification--warning {
    display: none;
}

.ant-table-thead {
    background-color: $error-color !important;
}

.slick-prev:before,
.slick-next:before {
    padding: 100px 2px;
    color: black;
}

// xu ly sidebar

.sidenav-small {
    width: 56px;
    /* hoặc giá trị mong muốn */
    transition: width 0.3s ease;
    /* Thêm transition cho hiệu ứng mượt mà */
    z-index: 1000;

}

.sidenav-expanded {
    width: 300px;
    /* hoặc giá trị mong muốn */
    transition: width 0.3s ease;
    /* Thêm transition cho hiệu ứng mượt mà */
    z-index: 1000;
}
